name: Publish on NPM

on:
  push:
    tags:
      - 'js-v*.*.*'
  workflow_dispatch:


permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Publish package
        run: |
          bun install
          FILE=$(bun pm pack | sed -n 's/.*\(pawdirecte-.*\.tgz\).*/\1/p')
          echo "Package file: $FILE"
          bunx npm publish "$FILE" --provenance
