name: Publish on NPM

on:
  push:
    tags:
      - 'js-v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Publish package
        run: |
          bun install
          bun pm pack && bunx npm publish ./pawdirecte-teacher-2.0.0.tgz --provenance
